<div *ngIf="data.action === lunchApplicationConstants.action.create">
    <h1 mat-dialog-title>Add restaurant choice</h1>
    <div mat-dialog-content>
        <p>Please insert the restaurant name</p>
        <mat-form-field>
            <mat-label>Restaurant Name</mat-label>
            <input matInput [(ngModel)]="data.restaurantName" name="restaurantName">
        </mat-form-field>
        <div class="error-message"*ngIf="validationError.hasError">
            <span *ngIf="validationError.restaurantName.empty">{{validationErrorMessages.restaurantName.empty}}</span>
            <span *ngIf="validationError.restaurantName.tooLong">{{validationErrorMessages.restaurantName.tooLong}}</span>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="onCreateSubmit()" cdkFocusInitial>Submit</button>
        <button mat-raised-button (click)="onNoClick()">Cancel</button>
    </div>
</div>

<div *ngIf="data.action === lunchApplicationConstants.action.update">
    <h1 mat-dialog-title>Update restaurant choice</h1>
    <div mat-dialog-content>
        <p>Please update the restaurant name</p>
        <mat-form-field>
            <mat-label>Restaurant Name</mat-label>
            <input matInput [(ngModel)]="data.restaurantName">
        </mat-form-field>
        <div class="error-message"*ngIf="validationError.hasError">
            <span *ngIf="validationError.restaurantName.empty">{{validationErrorMessages.restaurantName.empty}}</span>
            <span *ngIf="validationError.restaurantName.tooLong">{{validationErrorMessages.restaurantName.tooLong}}</span>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="onUpdateSubmit()" cdkFocusInitial>Submit</button>
        <button mat-raised-button (click)="onNoClick()">Cancel</button>
    </div>
</div>