<h1 mat-dialog-title>Join an existing session</h1>
<div mat-dialog-content>
    <p>Please enter the session id</p>
    <mat-form-field>
        <mat-label>Session Id</mat-label>
        <input matInput [(ngModel)]="formData.sessionId">
    </mat-form-field>
    <div class="error-message"*ngIf="validationError.hasError">
        <span *ngIf="validationError.sessionId.empty">{{validationErrorMessages.sessionId.empty}}</span>
        <span *ngIf="validationError.sessionId.isNotNumber">{{validationErrorMessages.sessionId.isNotNumber}}</span>
    </div>
    <p>Please enter your name</p>
    <mat-form-field>
        <mat-label>Your name</mat-label>
        <input matInput [(ngModel)]="formData.name">
    </mat-form-field>
    <div class="error-message"*ngIf="validationError.hasError">
        <span *ngIf="validationError.name.empty">{{validationErrorMessages.name.empty}}</span>
        <span *ngIf="validationError.name.tooLong">{{validationErrorMessages.name.empty}}</span>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onSubmit()" cdkFocusInitial>Submit</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>