.container {
    display: flex; /* or inline-flex */
    flex-direction: column;
    align-items: center;
    height: 33vh;
    justify-content: center;
}

.container > div {
    align-self: center;
}

.container > div > button {
    width: 300px;
    margin: 1rem;
}