<div class="container"></div>
<div class="container">
    <div>
        <button mat-raised-button (click)="openCreateSessionDialog()">Create Session</button>
    </div>
    <div>
        <button mat-raised-button (click)="openJoinSessionDialog()">Join Session</button>
    </div>
</div>
<div class="container"></div>

