<h1 mat-dialog-title>Create a new session</h1>
<div mat-dialog-content>
    <p>Please insert your name</p>
    <mat-form-field>
        <mat-label>Your name</mat-label>
        <input matInput [(ngModel)]="formData.name">
    </mat-form-field>
    <div class="error-message"*ngIf="validationError.hasError">
        <span *ngIf="validationError.name.empty">{{validationErrorMessages.name.empty}}</span>
        <span *ngIf="validationError.name.tooLong">{{validationErrorMessages.name.tooLong}}</span>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onSubmit()" cdkFocusInitial>Submit</button>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
</div>