

<div class="display-screen-title-container">
    <div>
        <div *ngIf="sessionDetail && sessionDetail.sessionStatus === lunchApplicationConstants.sessionStatus.ongoing; else sessionHasTerminated">
            <h1>Hello {{username}}, the session is currently still in progress</h1>
        </div>
        <ng-template #sessionHasTerminated>
            <div>
                <h1>Hello {{username}}, the current session has ended. The choice drawn at random is : </h1>
            </div>
        </ng-template>
    </div>
    <div *ngIf="username && sessionDetail">
        <button mat-raised-button (click)="refreshSessionAndRestaurantListCall()">Refresh Session</button>
    </div>
</div>

<div class="display-screen-table-container">
    <display-screen-table *ngIf="dataSource.data && dataSource.data.length > 0; else noRestaurantListData" [dataSource]="dataSource" [displayedColumns]="displayedColumns"></display-screen-table>
    <ng-template #noRestaurantListData>
        <div class="display-screen-table-container-no-data">
            <p>No available data</p>
        </div>
    </ng-template>
</div>

<div class="display-screen-choice-container">
    <div  *ngIf="sessionDetail && sessionDetail.sessionStatus === lunchApplicationConstants.sessionStatus.ongoing && restaurantChoice!.id === -1">
        <button mat-raised-button (click)="openCreateRestaurantChoiceDialog()">Add Choice</button>
    </div>
    
    <div *ngIf="sessionDetail && sessionDetail.sessionStatus === lunchApplicationConstants.sessionStatus.ongoing && restaurantChoice!.id !== -1">
        <button mat-raised-button (click)="openUpdateRestaurantChoiceDialog()">Update Choice</button>
    </div>
    
    <div *ngIf="sessionDetail && sessionDetail.sessionStatus === lunchApplicationConstants.sessionStatus.ongoing && restaurantChoice!.id !== -1">
        <button mat-raised-button (click)="deleteRestaurantChoiceCall()">Delete Choice</button>
    </div>
</div>

<div *ngIf="isOwner && sessionDetail && sessionDetail.sessionStatus === lunchApplicationConstants.sessionStatus.ongoing" class="display-screen-terminate-session-container">
    <button mat-raised-button (click)="terminateSession()">Terminate Session</button>
</div>

<div class="display-screen-terminate-session-container">
    <button mat-raised-button (click)="returnToJoinSessionScreen()">Back to Main</button>
</div>
