.display-screen-title-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
}

.display-screen-table-container {
    width: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    height: 50vh;
}
.display-screen-table-container-no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.display-screen-choice-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.display-screen-terminate-session-container {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}